python download: https://www.python.org/ftp/python/3.10.6/python-3.10.6-amd64.exe
---------------------------------

pip3 install django
pip3 install django-admin-interface

------------------------------------
python manage.py migrate
python manage.py createsuperuser
