{% extends "admin/change_form.html" %}
{% load static %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <style>
        .column-sub_category_detail {
            max-width: 50%;
        }
        .admin-autocomplete{
            max-width : 120px !important;
        }
        .vIntegerField{
            max-width : 50px !important;
        }
        {% comment %} .vTextField{
            max-width : 100px !important;
        } {% endcomment %}
        .field-file{
            max-width : 160px !important;
        }
    </style>

    <script src="{% static 'js/jquery.js' %}"></script>


    <script>
        
        var all_total_cost_for_this_khama_elements_projectkhamatcosts = document.querySelectorAll('[id^="id_projectkhamatcosts_set-"][id*="-total_cost_for_this_khama"]');
        for (var i = 0; i < all_total_cost_for_this_khama_elements_projectkhamatcosts.length; i++) {
        
            all_total_cost_for_this_khama_elements_projectkhamatcosts[i].disabled = true;
            all_total_cost_for_this_khama_elements_projectkhamatcosts[i].style.border = 'none';
        
        }
        //expectedprojectcosts
        var all_total_cost_for_this_khama_elements_expectedprojectcosts = document.querySelectorAll('[id^="id_expectedprojectcosts_set-"][id*="-total_cost_for_this_khama"]');
        for (var i = 0; i < all_total_cost_for_this_khama_elements_expectedprojectcosts.length; i++) {
        
            all_total_cost_for_this_khama_elements_expectedprojectcosts[i].disabled = true;
            all_total_cost_for_this_khama_elements_expectedprojectcosts[i].style.border = 'none';
        
        }


        // id_intermediarytableworkercount_set-0-total_reserved
        // id_intermediarytableworkercount_set-0-total_paid_until_now
        // id_intermediarytableworkercount_set-0-charge_reserved
        var all_intermediarytableworkercount_total_reserved_elements = document.querySelectorAll('[id^="id_intermediarytableworkercount_set-"][id*="-total_reserved"]');
        var all_intermediarytableworkercount_total_paid_until_now_elements = document.querySelectorAll('[id^="id_intermediarytableworkercount_set-"][id*="-total_paid_until_now"]');
        var all_intermediarytableworkercount_charge_reserved_elements = document.querySelectorAll('[id^="id_intermediarytableworkercount_set-"][id*="-charge_reserved"]');
        for (var i = 0; i < all_intermediarytableworkercount_total_reserved_elements.length; i++) {
        
            all_intermediarytableworkercount_total_reserved_elements[i].disabled = true;
            all_intermediarytableworkercount_total_reserved_elements[i].style.border = 'none';
            all_intermediarytableworkercount_total_paid_until_now_elements[i].disabled = true;
            all_intermediarytableworkercount_total_paid_until_now_elements[i].style.border = 'none';
            all_intermediarytableworkercount_charge_reserved_elements[i].disabled = true;
            all_intermediarytableworkercount_charge_reserved_elements[i].style.border = 'none';
        
        }

        // id_intermediarytableworkercount_set-0-directlyarrived
        var all_intermediarytableworkercount_directlyarrived_elements = document.querySelectorAll('[id^="id_intermediarytableworkercount_set-"][id*="-directlyarrived"]');
        for (var i = 0; i < all_intermediarytableworkercount_directlyarrived_elements.length; i++) {
        
            all_intermediarytableworkercount_directlyarrived_elements[i].value = 0;
        
        }

        // id_intermediarytablemarketcount_set-0-total_reserved
        // id_intermediarytablemarketcount_set-0-total_paid_until_now
        // id_intermediarytablemarketcount_set-0-charge_reserved
        var all_intermediarytablemarketcount_total_reserved_elements = document.querySelectorAll('[id^="id_intermediarytablemarketcount_set-"][id*="-total_reserved"]');
        var all_intermediarytablemarketcount_total_paid_until_now_elements = document.querySelectorAll('[id^="id_intermediarytablemarketcount_set-"][id*="-total_paid_until_now"]');
        var all_intermediarytablemarketcount_charge_reserved_elements = document.querySelectorAll('[id^="id_intermediarytablemarketcount_set-"][id*="-charge_reserved"]');
        for (var i = 0; i < all_intermediarytablemarketcount_total_reserved_elements.length; i++) {
        
            all_intermediarytablemarketcount_total_reserved_elements[i].disabled = true;
            all_intermediarytablemarketcount_total_reserved_elements[i].style.border = 'none';
            all_intermediarytablemarketcount_total_paid_until_now_elements[i].disabled = true;
            all_intermediarytablemarketcount_total_paid_until_now_elements[i].style.border = 'none';
            all_intermediarytablemarketcount_charge_reserved_elements[i].disabled = true;
            all_intermediarytablemarketcount_charge_reserved_elements[i].style.border = 'none';
        
        }

        // id_intermediarytablemarketcount_set-0-directlyarrived
        var all_intermediarytablemarketcount_directlyarrived_elements = document.querySelectorAll('[id^="id_intermediarytablemarketcount_set-"][id*="-directlyarrived"]');
        for (var i = 0; i < all_intermediarytablemarketcount_directlyarrived_elements.length; i++) {
        
            all_intermediarytablemarketcount_directlyarrived_elements[i].value = 0;
        
        }


        // "expectedprojectcosts" "make select buttons of new raw take the same values of the previous one"

        $(document).on('formset:added', function(event, $row, formsetName) {
                var all_expectedprojectcosts_main_category_select_elements = document.querySelectorAll('[id^="id_expectedprojectcosts_set-"][id*="-main_category_detail"]');
                var new_expectedprojectcosts_main_category_select_element = all_expectedprojectcosts_main_category_select_elements[all_expectedprojectcosts_main_category_select_elements.length - 2];
                var last_expectedprojectcosts_main_category_select_element = all_expectedprojectcosts_main_category_select_elements[all_expectedprojectcosts_main_category_select_elements.length - 3];
                new_expectedprojectcosts_main_category_select_element.value = last_expectedprojectcosts_main_category_select_element.value
                //new_expectedprojectcosts_main_category_select_element = last_expectedprojectcosts_main_category_select_element
                for (var i = 0; i < last_expectedprojectcosts_main_category_select_element.options.length; i++) {
                    if (last_expectedprojectcosts_main_category_select_element.options[i].selected) {
                        new_expectedprojectcosts_main_category_select_element.options[i].selected = true;
                    }
                }



                var CurrentSelectIdexpectedprojectcosts = new_expectedprojectcosts_main_category_select_element.id.split('-')[1];
                var CurrentTypeexpectedprojectcosts = new_expectedprojectcosts_main_category_select_element.value;
                var id_sub_category_detail_expectedprojectcosts = document.getElementById('id_expectedprojectcosts_set-' + CurrentSelectIdexpectedprojectcosts + '-sub_category_detail');
                //var initialValue = document.getElementById('id_expectedprojectcosts_set-' + CurrentSelectIdexpectedprojectcosts + '-sub_category_detail').value;
                
                fetch('/get_category_subs/?category=' + CurrentTypeexpectedprojectcosts)
                    .then(response => response.json())
                    .then(data => {
                        //Clear the category select menu
                        id_sub_category_detail_expectedprojectcosts.innerHTML = '';
    
                        // Add the new options to the category select menu
                        data.forEach(function (item) {
                            var option = document.createElement('option');
                            option.value = item.id;
                            option.text = item.sub_category;
                            id_sub_category_detail_expectedprojectcosts.appendChild(option);
                            //id_sub_category_detail_expectedprojectcosts.value = initialValue;



                            var all_expectedprojectcosts_sub_category_select_elements = document.querySelectorAll('[id^="id_expectedprojectcosts_set-"][id*="-sub_category_detail"]');
                            var new_expectedprojectcosts_sub_category_select_element = all_expectedprojectcosts_sub_category_select_elements[all_expectedprojectcosts_sub_category_select_elements.length - 2];
                            var last_expectedprojectcosts_sub_category_select_element = all_expectedprojectcosts_sub_category_select_elements[all_expectedprojectcosts_sub_category_select_elements.length - 3];
                            new_expectedprojectcosts_sub_category_select_element.value = last_expectedprojectcosts_sub_category_select_element.value
            
                            //new_expectedprojectcosts_sub_category_select_element = last_expectedprojectcosts_sub_category_select_element
                            for (var i = 0; i < last_expectedprojectcosts_sub_category_select_element.options.length; i++) {
                                if (last_expectedprojectcosts_sub_category_select_element.options[i].selected) {
                                    var desiredValue = last_expectedprojectcosts_sub_category_select_element.options[i].value;
                                    for (var i = 0; i < new_expectedprojectcosts_sub_category_select_element.options.length; i++) {
                                        //last_expectedprojectcosts_sub_category_select_element.options[i].value
                                        if (new_expectedprojectcosts_sub_category_select_element.options[i].value === desiredValue) {
                                            new_expectedprojectcosts_sub_category_select_element.options[i].selected = true;
                                            console.log('uuuuuuuuu')
                                            console.log(new_expectedprojectcosts_sub_category_select_element.options[i])
            
                                            console.log(new_expectedprojectcosts_sub_category_select_element.options[i].text)
                                            console.log('uuuuuuuuu')
                                            
                                            
                                            break;
                                        }
                                        //new_expectedprojectcosts_sub_category_select_element.options[i].selected = true;
                                    } 
                                    
                                }
                            }

                        });
                }); 






                var all_projectkhamatcosts_main_category_select_elements = document.querySelectorAll('[id^="id_projectkhamatcosts_set-"][id*="-main_category_detail"]');
                var new_projectkhamatcosts_main_category_select_element = all_projectkhamatcosts_main_category_select_elements[all_projectkhamatcosts_main_category_select_elements.length - 2];
                var last_projectkhamatcosts_main_category_select_element = all_projectkhamatcosts_main_category_select_elements[all_projectkhamatcosts_main_category_select_elements.length - 3];
                new_projectkhamatcosts_main_category_select_element.value = last_projectkhamatcosts_main_category_select_element.value
                //new_projectkhamatcosts_main_category_select_element = last_projectkhamatcosts_main_category_select_element
                for (var i = 0; i < last_projectkhamatcosts_main_category_select_element.options.length; i++) {
                    if (last_projectkhamatcosts_main_category_select_element.options[i].selected) {
                        new_projectkhamatcosts_main_category_select_element.options[i].selected = true;
                    }
                }


                var CurrentSelectIdprojectkhamatcosts = new_projectkhamatcosts_main_category_select_element.id.split('-')[1];
                var CurrentTypeprojectkhamatcosts = new_projectkhamatcosts_main_category_select_element.value;
                var id_sub_category_detail_projectkhamatcosts = document.getElementById('id_projectkhamatcosts_set-' + CurrentSelectIdprojectkhamatcosts + '-sub_category_detail');
                //var initialValue = document.getElementById('id_projectkhamatcosts_set-' + CurrentSelectIdprojectkhamatcosts + '-sub_category_detail').value;
                
                fetch('/get_category_subs/?category=' + CurrentTypeprojectkhamatcosts)
                    .then(response => response.json())
                    .then(data => {
                        //Clear the category select menu
                        id_sub_category_detail_projectkhamatcosts.innerHTML = '';
    
                        // Add the new options to the category select menu
                        data.forEach(function (item) {
                            var option = document.createElement('option');
                            option.value = item.id;
                            option.text = item.sub_category;
                            id_sub_category_detail_projectkhamatcosts.appendChild(option);
                            //id_sub_category_detail_projectkhamatcosts.value = initialValue;



                            var all_projectkhamatcosts_sub_category_select_elements = document.querySelectorAll('[id^="id_projectkhamatcosts_set-"][id*="-sub_category_detail"]');
                            var new_projectkhamatcosts_sub_category_select_element = all_projectkhamatcosts_sub_category_select_elements[all_projectkhamatcosts_sub_category_select_elements.length - 2];
                            var last_projectkhamatcosts_sub_category_select_element = all_projectkhamatcosts_sub_category_select_elements[all_projectkhamatcosts_sub_category_select_elements.length - 3];
                            new_projectkhamatcosts_sub_category_select_element.value = last_projectkhamatcosts_sub_category_select_element.value
            
                            //new_projectkhamatcosts_sub_category_select_element = last_projectkhamatcosts_sub_category_select_element
                            for (var i = 0; i < last_projectkhamatcosts_sub_category_select_element.options.length; i++) {
                                if (last_projectkhamatcosts_sub_category_select_element.options[i].selected) {
                                    var desiredValue = last_projectkhamatcosts_sub_category_select_element.options[i].value;
                                    for (var i = 0; i < new_projectkhamatcosts_sub_category_select_element.options.length; i++) {
                                        //last_projectkhamatcosts_sub_category_select_element.options[i].value
                                        if (new_projectkhamatcosts_sub_category_select_element.options[i].value === desiredValue) {
                                            new_projectkhamatcosts_sub_category_select_element.options[i].selected = true;
                                            console.log('uuuuuuuuu')
                                            console.log(new_projectkhamatcosts_sub_category_select_element.options[i])
            
                                            console.log(new_projectkhamatcosts_sub_category_select_element.options[i].text)
                                            console.log('uuuuuuuuu')
                                            
                                            
                                            break;
                                        }
                                        //new_projectkhamatcosts_sub_category_select_element.options[i].selected = true;
                                    } 
                                    
                                }
                            }



                        });
                }); 





                var all_projectworkersreserves_main_category_select_elements = document.querySelectorAll('[id^="id_projectworkersreserves_set-"][id*="-main_category_detail"]');
                var new_projectworkersreserves_main_category_select_element = all_projectworkersreserves_main_category_select_elements[all_projectworkersreserves_main_category_select_elements.length - 2];
                var last_projectworkersreserves_main_category_select_element = all_projectworkersreserves_main_category_select_elements[all_projectworkersreserves_main_category_select_elements.length - 3];
                new_projectworkersreserves_main_category_select_element.value = last_projectworkersreserves_main_category_select_element.value
                //new_projectworkersreserves_main_category_select_element = last_projectworkersreserves_main_category_select_element
                for (var i = 0; i < last_projectworkersreserves_main_category_select_element.options.length; i++) {
                    if (last_projectworkersreserves_main_category_select_element.options[i].selected) {
                        new_projectworkersreserves_main_category_select_element.options[i].selected = true;
                    }
                }


                var CurrentSelectIdprojectworkersreserves = new_projectworkersreserves_main_category_select_element.id.split('-')[1];
                var CurrentTypeprojectworkersreserves = new_projectworkersreserves_main_category_select_element.value;
                var id_sub_category_detail_projectworkersreserves = document.getElementById('id_projectworkersreserves_set-' + CurrentSelectIdprojectworkersreserves + '-sub_category_detail');
                //var initialValue = document.getElementById('id_projectworkersreserves_set-' + CurrentSelectIdprojectworkersreserves + '-sub_category_detail').value;
                
                fetch('/get_category_subs/?category=' + CurrentTypeprojectworkersreserves)
                    .then(response => response.json())
                    .then(data => {
                        //Clear the category select menu
                        id_sub_category_detail_projectworkersreserves.innerHTML = '';
    
                        // Add the new options to the category select menu
                        data.forEach(function (item) {
                            var option = document.createElement('option');
                            option.value = item.id;
                            option.text = item.sub_category;
                            id_sub_category_detail_projectworkersreserves.appendChild(option);
                            //id_sub_category_detail_projectworkersreserves.value = initialValue;



                            var all_projectworkersreserves_sub_category_select_elements = document.querySelectorAll('[id^="id_projectworkersreserves_set-"][id*="-sub_category_detail"]');
                            var new_projectworkersreserves_sub_category_select_element = all_projectworkersreserves_sub_category_select_elements[all_projectworkersreserves_sub_category_select_elements.length - 2];
                            var last_projectworkersreserves_sub_category_select_element = all_projectworkersreserves_sub_category_select_elements[all_projectworkersreserves_sub_category_select_elements.length - 3];
                            new_projectworkersreserves_sub_category_select_element.value = last_projectworkersreserves_sub_category_select_element.value
            
                            //new_projectworkersreserves_sub_category_select_element = last_projectworkersreserves_sub_category_select_element
                            for (var i = 0; i < last_projectworkersreserves_sub_category_select_element.options.length; i++) {
                                if (last_projectworkersreserves_sub_category_select_element.options[i].selected) {
                                    var desiredValue = last_projectworkersreserves_sub_category_select_element.options[i].value;
                                    for (var i = 0; i < new_projectworkersreserves_sub_category_select_element.options.length; i++) {
                                        //last_projectworkersreserves_sub_category_select_element.options[i].value
                                        if (new_projectworkersreserves_sub_category_select_element.options[i].value === desiredValue) {
                                            new_projectworkersreserves_sub_category_select_element.options[i].selected = true;
                                            console.log('uuuuuuuuu')
                                            console.log(new_projectworkersreserves_sub_category_select_element.options[i])
            
                                            console.log(new_projectworkersreserves_sub_category_select_element.options[i].text)
                                            console.log('uuuuuuuuu')
                                            
                                            
                                            break;
                                        }
                                        //new_projectworkersreserves_sub_category_select_element.options[i].selected = true;
                                    } 
                                    
                                }
                            }



                        });
                }); 






        });

        //end "projectkhamatcosts" "make select buttons of new raw take the same values of the previous one"

    </script> 






    <script>
        function showCategorySubs(rowId, type, subCategoryDetailId) {
            if (type) {
                var id_sub_category_detail = document.getElementById(subCategoryDetailId);
                fetch('/get_category_subs/?category=' + type)
                    .then(response => response.json())
                    .then(data => {
                        var initialValue = id_sub_category_detail.value;
                        id_sub_category_detail.innerHTML = '';

                        data.forEach(function (item) {
                            var option = document.createElement('option');
                            option.value = item.id;
                            option.text = item.sub_category;
                            id_sub_category_detail.appendChild(option);
                            id_sub_category_detail.value = initialValue;
                        });
                    });
            }
        }

        function setupCategorySubsListeners(prefix) {
            document.body.addEventListener('change', function (event) {
                var targetId = event.target.id;

                if (targetId && targetId.includes('-main_category_detail')  && targetId.includes(prefix) ) {
                    var rowId = targetId.split('-')[1];
                    var type = event.target.value;
                    var subCategoryDetailId = prefix + '-' + rowId + '-sub_category_detail';
                    
                    showCategorySubs(rowId, type, subCategoryDetailId);
                }
            });

            // Trigger the event for existing elements
            var selectElements = document.querySelectorAll('[id^="' + prefix + '-"][id$="-main_category_detail"]');
            selectElements.forEach(function (ele) {
                var rowId = ele.id.split('-')[1];
                var type = ele.value;
                var subCategoryDetailId = prefix + '-' + rowId + '-sub_category_detail';

                showCategorySubs(rowId, type, subCategoryDetailId);
            });
        }


        /////////////////////////////////////////////////////////////////////////////

        

        setupCategorySubsListeners('id_expectedprojectcosts_set');
        setupCategorySubsListeners('id_projectkhamatcosts_set');
        setupCategorySubsListeners('id_projectworkersreserves_set');






    </script>

{% comment %} <script>
const workercount_tabcontent = document.getElementById("tabcontent-tkhlys-hsbt-l-ml");
const workercount_group = document.getElementById("workercount_set-group");

workercount_group.style.display = 'none'; 

const button = document.createElement("a");
button.textContent = "Click me"; 

button.style.backgroundColor = "lightblue"; 
button.addEventListener("click", () => {
    workercount_group.style.display = 'block';
}); 

// 4. Append the button to the top of the div using insertBefore:
workercount_tabcontent.insertBefore(button, workercount_tabcontent.firstChild);

</script> {% endcomment %}



{% endblock %}
