{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body{
        color:#633c0f!important;
    }
.page-header {
    margin: 0 0 1rem;
}

.brc-default-l1 {
    border-color: #dce9f0!important;
}

.text-grey-m2 {
    color: #dce9f0!important;
}

.pb-25, .py-25 {
    padding: .5rem!important;
}

.bgc-default-tp1 {
    background-color: #497d85!important;
}
.bgm {
    background-color: #d87606!important;
}
.bgc-default-l4, .bgc-h-default-l4:hover {
    background-color: #f3f8fa!important;
}
.btn-light {
    color: #757984;
    background-color: #a8b0c9;
    border-color: #dddfe4;
}

a {
    text-decoration: none;
}
</style>








<style>
        body{
        margin-top:5px;
        color: #1c5cda;
    }
    
    @media print {
        /* Hide the print button when printing */
        .action-buttons {
            display: none;
        }
        .back {
            display: none;
        }
        .page-header {
            margin: 0 0 0rem;
        }
    }
    
    .page-header {
        margin: 0 0 1rem;
    }
    
    .brc-default-l1 {
        border-color: #dce9f0!important;
    }
    
    .text-grey-m2 {
        color: #dce9f0!important;
    }
    
    .pb-25, .py-25 {
        padding: .5rem!important;
    }
    
    .bgc-default-tp1 {
        background-color: #497d85!important;
    }
    .bgc-default-l4, .bgc-h-default-l4:hover {
        background-color: #f3f8fa!important;
    }
    .btn-light {
        color: #757984;
        background-color: #a8b0c9;
        border-color: #dddfe4;
    }
    
    .width_cust{
        max-width: 40%;
    }
    .box {
        display: block;
    }
    </style>
    
        <div class="page-content container">
            <div class="page-header text-blue-d2">
                <div class="page-tools">
                    <div class="row action-buttons">

                        <div class="col-3 align-self-start d-sm-flex justify-content-start">
                            <button class="btn bg-white btn-light mx-1px print-button" onclick="printPage()" data-title="Print">
                                طباعة
                            </button>
                            <a class="btn bg-white btn-light mx-1px back" style="text-align:center;" href="{% url 'admin:index' %}">
                                رجوع
                            </a>
                        </div>
                        <div class="col-9 align-self-start d-sm-flex justify-content-end">
                            <input type="checkbox" class="checkbox m-2" checked id="checkbox1">اجمالى المشروع
                            <input type="checkbox" class="checkbox m-2" checked id="checkbox2">مستحقات العاملين
                            <input type="checkbox" class="checkbox m-2" checked id="checkbox3">الوارد المالى
                            <input type="checkbox" class="checkbox m-2" checked id="checkbox4"> اعمال التصميم
                            <input type="checkbox" class="checkbox m-2" checked id="checkbox5"> الاشراف (التكاليف)
                            <input type="checkbox" class="checkbox m-2" checked id="checkbox6">الكل
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    
        <div class="container" id="print">
            <div class="row invoice">
                <div class="col-12 col-lg-12">
                    <div class="row" style="background-color: #10626F;">
                        <div class="col align-self-start d-sm-flex justify-content-start">
                            <hr class="d-sm-none" />
                            <div class="text-grey-m2">
                                <div class="row text-white bgm py-25 ">
                                    معلومات العميل
                                </div>
                    
                                {% if client.name %}
                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600">الاسم:</span> {{client.name}}</div>
                                {% endif %}
                                {% if client.phone_number %}
                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600">موبايل:</span> {{client.phone_number}}</div>
                                {% endif %}
                                {% if client.address %}
                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600">عنوان:</span> {{client.address}}</div>
                                {% endif %}
                                {% if client.code %}
                                <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600">الكود:</span> {{client.code}}</div>
                                {% endif %}
                            </div>
                        </div>
                    
                        <div class="col d-flex justify-content-end">
                            <div>
                                <!-- Adjust the width and height as needed -->
                                <img src="{{ logo_url }}" alt=""  style="max-width: 200px; max-height: 100px;">
                            </div>
                        </div>
                    </div>
    
                    <div class="">
                        
                        
                            <div >
                                    <div class="box" id="box1">  
                                        <div class="row text-white bgc-default-tp1 ">
                                            
                                            <div class="col-2 col-sm-2" style="background-color: #d87606">اجمالى المشروع (مج)</div>
                                            <div class="col-2 col-sm-2"> اعمال التصميم</div>
                                            <div class="d-none d-sm-block col-2 col-sm-2"> اعمال الاشراف </div>
                                            <div class="d-none d-sm-block col-1 col-sm-1"> الخامات</div>
                                            <div class="d-none d-sm-block col-1 col-sm-1"> المصنعيات</div>
                                            <div class="col-2 col-sm-2">الوارد المالى</div>
                                            <div class="col-2 col-sm-2"> باقى الحساب</div>
                                        </div>
                                        <div class="text-95 text-secondary-d3">
                                            <div class="row mb-2 mb-sm-0 py-25">
                                                <div class="col-2 col-sm-2"></div>
                                                <div class="col-2 col-sm-2">{{totaldesignworkscosts}}</div>
                                                <div class="d-none d-sm-block col-2 col-sm-2">{{totalengsupervisionworkscosts}}</div>
                                                <div class="d-none d-sm-block col-1 col-sm-1">{{total_khamat_cost}}</div>
                                                <div class="d-none d-sm-block col-1 col-sm-1">{{total_workersreserves_cost}}</div>
                                                <div class="col-2 col-sm-2">{{all_inpay_costs}}</div>
                                                <div class="col-2 col-sm-2">{{charge}}</div>
                    
                    
                                            </div>
                                        </div>
                                    
                                    </div>
                    
                                    <div class="box" id="box2">  
                                        
                                        <div class="row text-white bgc-default-tp1 ">
                                            
                                            <div class="col-2 col-sm-2" style="background-color: #d87606"> مستحقات العاملين (مج)</div>
                                                <div class="col-2 col-sm-2">  العامل</div>
                                                <div class="d-none d-sm-block col-2 col-sm-2">  المهنة </div>
                                                <div class="d-none d-sm-block col-2 col-sm-2"> المستحق </div>
                                                <div class="d-none d-sm-block col-2 col-sm-2"> حصل على</div>
                                                <div class="col-2 col-sm-2"> الباقى</div>
                                            </div>
                                            <div class="text-95 text-secondary-d3">
                                                {% for client in workersreserves %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                    <div class="col-2 col-sm-2"></div>
                                                    <div class="col-2 col-sm-2">{{client.0}}</div>
                                                    <div class="d-none d-sm-block col2 col-sm-2">{{client.1}}</div>
                                                    <div class="d-none d-sm-block col-2 col-sm-2">{{client.2}}</div>
                                                    <div class="col-2 col-sm-2">{{client.3}}</div>
                                                    <div class="col-2 col-sm-2">{{client.4}}</div>
                                                </div>
                                                {% empty %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                <span style="color:red; text-align:center;">
                                                    لا يوجد    
                                                </span>
                                            </div>
                                                
                                                {% endfor %}
                        
                                            </div>
                                    </div>

                                    <div class="box" id="box3">  
                                        <div class="row text-white bgc-default-tp1 ">
                                            
                                            <div class="col-2 col-sm-2" style="background-color: #d87606"> الوارد المالى (مج)</div>
                                                <div class="col-2 col-sm-2">  القائم بالدفع</div>
                                                <div class="d-none d-sm-block col-3 col-sm-3">  المستلم </div>
                                                <div class="d-none d-sm-block col-3 col-sm-3">  التاريخ </div>
                                                <div class="d-none d-sm-block col-2 col-sm-2">  المدفوع</div>

                                            </div>
                                            <div class="text-95 text-secondary-d3">
                                                {% for inpay in inpaycosts %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                    <div class="col-2 col-sm-2"></div>
                                                    <div class="col-2 col-sm-2">{{inpay.giver}}</div>
                                                    <div class="d-none d-sm-block col-3 col-sm-3">{{inpay.recipient}}</div>
                                                    <div class="d-none d-sm-block col-3 col-sm-3">{{inpay.date_added}}</div>
                                                    <div class="d-none d-sm-block col-2 col-sm-2">{{inpay.paid}}</div>
                                                </div>
                                                {% empty %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                <span style="color:red; text-align:center;">
                                                    لا يوجد    
                                                </span>
                                            </div>
                                                
                                                {% endfor %}
                        
                                            </div>
                                    </div>
                                    
                                    <div class="box" id="box4">  
                                        <div class="row text-white bgc-default-tp1 ">
                                            
                                            <div class="col-2 col-sm-2" style="background-color: #d87606">  اعمال التصميم (مج)</div>
                                                <div class="col-2 col-sm-2">  نوع العمل</div>
                                                <div class="d-none d-sm-block col-3 col-sm-3">  طريقة الحسبة </div>
                                                <div class="d-none d-sm-block col-3 col-sm-3">  الكمية </div>
                                                <div class="d-none d-sm-block col-2 col-sm-2">  التكلفة</div>

                                            </div>
                                            <div class="text-95 text-secondary-d3">
                                                {% for designwork in designworks %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                    <div class="col-2 col-sm-2"></div>
                                                    <div class="col-2 col-sm-2">{{designwork.worktype.type}}</div>
                                                    <div class="d-none d-sm-block col-3 col-sm-3">{{designwork.account_way}}</div>
                                                    <div class="d-none d-sm-block col-3 col-sm-3">{{designwork.ammount}}</div>
                                                    <div class="d-none d-sm-block col-2 col-sm-2">{{designwork.workcost}}</div>
                                                </div>
                                                {% empty %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                <span style="color:red; text-align:center;">
                                                    لا يوجد    
                                                </span>
                                            </div>
                                                {% endfor %}
                        
                                            </div>
                                    </div>
                                    
                                    <div class="box" id="box5">  
                                        <div class="row text-white bgc-default-tp1 ">
                                            
                                            <div class="col-2 col-sm-2" style="background-color: #d87606">  الاشراف (التكاليف)</div>
                                                <div class="col-3 col-sm-3">  التكاليف (خامات + مصنعيات)</div>
                                                <div class="d-none d-sm-block col-3 col-sm-3">   نوع الحسبة </div>
                                                <div class="d-none d-sm-block col-2 col-sm-2">  الكمية </div>
                                                <div class="d-none d-sm-block col-2 col-sm-2">  التكلفة الكلية</div>

                                            </div>
                                            <div class="text-95 text-secondary-d3">
                                                {% for engsupervisionwork in engsupervisionworks %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                    <div class="col-2 col-sm-2"></div>
                                                    <div class="col-3 col-sm-3">{{engsupervisionwork.all_costs}}</div>
                                                    <div class="d-none d-sm-block col-3 col-sm-3">{{engsupervisionwork.account_way}}</div>
                                                    <div class="d-none d-sm-block col-2 col-sm-2">{{engsupervisionwork.ammount}}</div>
                                                    <div class="d-none d-sm-block col-2 col-sm-2">{{engsupervisionwork.work_cost}}</div>
                                                </div>
                                                {% empty %}
                                                <div class="row mb-2 mb-sm-0 py-25">
                                                <span style="color:red; text-align:center;">
                                                    لا يوجد    
                                                </span>
                                            </div>
                                                {% endfor %}
                        
                                            </div>
                                    </div>



                                    <div class="row" style="background-color: #10626F;">
                                            <div class="col align-self-start d-sm-flex justify-content-start">
                                                <hr class="d-sm-none" />
                                                <div class="text-grey-m2">
                                                    <div class="row text-white bgm py-25 ">
                                                        معلومات التواصل
                                                    </div>
                                        
                                                    <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">العنوان:</span> البرج - البرلس</div>
                                        
                                                    <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">موبايل:</span> 01095163117</div>
                                                </div>
                                            </div>
                                        
                                            
                                        </div>

                                
                                    </div>
    
    
                    </div>
                </div>
            </div>
        </div>
    
    
    
    <script>
        function printPage() {
        
            // Create a link element for the print stylesheet
            var style = document.createElement('link');
            style.type = 'text/css';
            style.rel = 'stylesheet';
            style.href = 'path/to/print-styles.css'; // Replace with the actual path to your print stylesheet
        
            // Append the link element to the head of the document
            document.head.appendChild(style);
        
            // Trigger the print dialog
            window.print();
        
            // Remove the added print stylesheet after printing
            style.parentNode.removeChild(style);
        }
        
    </script>
    
    <script>
        const checkboxes = document.querySelectorAll('.checkbox');
        const boxes = document.querySelectorAll('.box');
    
        checkboxes.forEach((checkbox, index) => {
          checkbox.addEventListener('change', () => {
            boxes[index].style.display = checkbox.checked ? 'block' : 'none';
          });
        });
    
        const selectDeselectAll = document.getElementById('checkbox6');
        selectDeselectAll.addEventListener('change', () => {
          checkboxes.forEach(checkbox => {
            checkbox.checked = selectDeselectAll.checked;
          });
    
          boxes.forEach((box, index) => {
            box.style.display = selectDeselectAll.checked ? 'block' : 'none';
          });
        });
      </script>






{% endblock content %}